
body{
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    text-align: center;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .introduction{
    text-align: center;

  }
  .introduction h1{
    font-size: 100px;
    margin: 0px;
    color: #000000c5;
  }
  
  .introduction p{
    font-size: 30px;
  }

  .simplebutton{
    background-color: #7a32e0;
    border-radius: 3px;
    margin-left: 80px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .simplebutton:hover{
    background-color: #120327;
  }
  .main{
    margin: 0 auto;
    width: 10%; 
  }

  .main section ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .main section ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    transition: transform .5s ease-in-out;

  }

  .main section ul li:hover{
    z-index: 1;
    transform: scale(1.5);
    background-color: #7a32e0;
  }

  .main section p{
    text-align: center;
  }
  